*.beam
*.dump
db/mnesia.db/
config/sys.config
config/vm.args

# From REBAR3
_checkouts
.rebar3
rebar3
rebar3.cmd
rebar3.ps1
_build
.depsolver_plt
test/*_data
logs
/rebar
*~
*.orig
.*.swp
/rt.work
/dialyzer_warnings
/rebar.cmd
/.eunit
/deps
/.rebar
priv/templates/*.dtl.erl
ebin
.edts
env
src/vendored/r3_safe_erl_term.erl
