%% ================= ERLANG COMPILER OPTIONS ================= %%
{erl_opts,
 [
  {i,"include/"},       % Include directory
  debug_info            % Include debug information
 ]
}.


%% ================ APPLICATION DEPENDENCIES ================ %%
{deps,
 [
  {cowboy,"2.9.0"},     % Cowboy HTTP Server
  {gun,"2.0.0-rc.2"},   % Gun HTTP Client
  {jsone,"1.6.1"}       % JSON<->Erlang Parser
 ]
}.


%% ================== RELEASE CONFIGURATION ================== %%
{relx,
 [
  {
   release,
   {janet_simulator,"0.9.0"},          % Release name and version
   [                                   % Included applications
    mnesia,                            %   {app,load} -> include but do not autostart
    {jsone,load},                      %   {app,none} -> include but do not load (and autostart)
    {cowboy,load},
    {gun,load},
    {janet_simulator,load},
    {janet_controller,none},
    {janet_device,none}
   ]                                 
  },

  {sys_config,"./config/sys.config"},  % sys_config path
  {vm_args, "./config/vm.args"},       % vm_args path
  {dev_mode,true},                     % Developer mode (symlink to .beam files)
  {include_erts,true},                 % Do not include the full ERTS (local release)
  {overlay,                            % Overlays
   [
    {copy,"db","db"}                   % Copy the "db" directory to the release
   ]
  }
 ]
}.
