[
 {janet_simulator,
  [
   {sim_rest_port,45678},
   {remote_rest_client,"janethome.zapto.org"},
   {remote_rest_server_addr,"Duille"},
   {remote_rest_server_port,50505},
   {nodes_hosts,["Fuffa","www.google.it","Milo","127.0.0.1","localhost"]},
   {janet_stopping,false}
  ]},
 {mnesia,[{dir,'db/mnesia.db'}]},
 {kernel,[{logger_level,warning}]}
].
